/*
Theme Name: Oriental Writing
Theme URI: http://pure-essence.net/2013/04/26/child-theme-for-oriental-summer-day
Author: Ying Zhang
Author URI: http://regretless.com/
Description: Oriental writing is a child theme for oriental.
Version: 1.0.0
Tags: fixed-width, two-columns, threaded-comments, sticky-post, microformats, right-sidebar, yellow, orange, red, custom-menu, editor-style, full-width-template
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
template: oriental
*/

@import url('../oriental/style.css');

/* =========================================================================
 *   Oriental Writing
 * ========================================================================= */

/* customized by pure-essence.net */
html body {
	background: #feffef url(images/bk.png) repeat;
	color: #694f10;
	font-family: 'Source Sans Pro',Arial,Verdana,Helvetica,sans-serif
}

a {
	color: #7c7a02;
}
a:hover {
	color: #fa0405;
}

img {
	border: 0;
}

button,
input,
select,
textarea {
	word-wrap: break-word;
}

.entry-title,
.entry-content,
.entry-summary {
	word-wrap: break-word;
}

#page {
	background-image: url(images/meiTop.png);
	background-repeat: no-repeat;
	background-position: left -100px;
	position: relative;
}

#page:before {
	content: url(images/meiLeft.png);
	position: absolute;
	bottom: 0;
	left: -10px;
	z-index: 10;
}

#page:after {
	content: url(images/meiLowerRight.png);
	position: absolute;
	bottom: 0;
	right: -200px;
}

#masthead {
	width: auto;
	margin: 0 0 0 200px;
	position: relative;
	padding-top: 50px;
}

#masthead:after {
	content: url(images/cloudsCranes.png);
	position: absolute;
	right: -200px;
	top: 0;
}

#masthead h1.site-title a {
	color: #000;
	font-family: 'Molle', Garamond, Georgia, serif;
}

#masthead .site-description {
	font-family: 'Satisfy', Garamond,Georgia,serif;
}

#masthead section {
	margin-left: 110px;
	padding: 1em;
}

#nav-menu-wrapper {
	margin: 0 0 0 100px;
	background: none;
}

.main-navigation {
	height: auto;
	background: none;
	font-family: 'Satisfy',"Helvetica Neue",Helvetica Arial,"Lucida Grande",sans-serif;
	font-size: 120%;
}

.main-navigation div > ul.menu > li.current_page_item > a,
.main-navigation .menu > ul > li.current_page_item > a,
.main-navigation div > ul.menu > li.current-menu-item > a,
.main-navigation .menu > ul > li.current-menu-item > a {
	background: none;
    color: #DC2B63;
    font-weight: bold;
    text-decoration: none;
}

.main-navigation div > ul.menu > li:first-child, 
.main-navigation .menu > ul > li:first-child {
	padding-left: 0;
}

.main-navigation div > ul.menu > li, 
.main-navigation .menu > ul > li {
	background: none;
}

.main-navigation div > ul.menu > li > a, 
.main-navigation .menu > ul > li > a {
	color: #000;
}

.main-navigation ul ul {
	background-color: rgba(0,0,0,.8);;
}

.main-navigation ul ul li.current_page_item a,
.main-navigation ul ul li.current-menu-item a {
	font-weight: bold;
}

.main-navigation a {
	transition: font-size 400ms ease;
}
.main-navigation a:hover {
	background: none;
	font-size: 120%;
	text-decoration: none;
}

small.postmetadata {
	clear: left;
	display: block;
}

#main {
	background: none;
	width: auto;
	padding: 0 0 0 200px;
}

#primary {
	width: 627px;
	float: left;
	background: none;
}

article.post {
	background: none;
}

#content {
	background-color: #f8efd3;
	background-image: none;
	position: relative;
	margin-top: 50px;
}

#content:before {
	content: url(images/paperTop.png);
	position: absolute;
	top: -60px;
	left: 0;
}

#content:after {
	content: url(images/paperBottom.png);
	position: absolute;
	bottom: -60px;
	left: 0;
}

.page-template-page-nosidebar-php #primary, 
.attachment #primary, 
.error404 #primary {
	width: 627px;
}
.page-template-page-nosidebar-php footer#colophon, 
.attachment footer#colophon, 
.error404 footer#colophon {
	margin-left: 339px;
}

.entry-content {
	position: relative;
}

.entry-content .oriental-post-thumbnail {
	position: absolute;
	top: 10px;
	left: -100px;
}

.entry-title, .entry-title a {
	font-family: 'Satisfy',"Helvetica Neue",Helvetica Arial,"Lucida Grande",sans-serif;
	float: left;
}
.entry-title {
	position: relative;
}
.entry-meta {
	text-align: left;
}
.edit-link {
	float: right;
}
article:nth-of-type(odd) .entry-title:after {
	content: url(images/ducks.png);
	position: absolute;
	top: 20px;
	left: -120px;
}

blockquote {
	background-color: rgba(253,251,219,.5);
	border: 0;
}

#comments {
	background: none;
}
#comments h2.comments-title, #reply-title {
	font-family: 'Satisfy',"Helvetica Neue",Helvetica Arial,"Lucida Grande",sans-serif;
	color: #000;
}
h2.comments-title,
.comment-author {
	background: none;
}
li.comment, li.pingback, li.trackback {
	border-bottom: 1px solid #d0be90;
	padding: 10px;
}
ol.commentlist ul.children li, 
ul.commentlist ul.children li {
	border: 0;
}
ul.commentlist > li.comment > ul.children, ol.commentlist > li.comment > ul.children {
	padding-left: 0;
}
.thread-odd {
	background-color: transparent;
}
#comments .avatar {
	border-radius: 50%;
}
.comment-author {
	margin: 0;
	padding: 0;
	width: auto;
	min-height: 0;
}
.comment-author cite.fn {
	width: auto;
	line-height: 40px;
}
.commentmetadata {
	float: right;
	line-height: 40px;
}
.children .comment-author cite.fn {
	line-height: normal;
}
.children .commentmetadata {
	float: none;
	line-height: normal;
	padding-left: 50px;
}
.comment-content {
	clear: both;
}

button, input, select, textarea, #s {
	background: rgba(255,255,255,.5);
}
#s {
	padding: 3px;
	border-radius: 3px;
	width: 100%;
}
#searchsubmit {
	display: none;
}
.wp-caption {
	border-color: #d0be90;
}

h1.page-title {
	padding: 1em 0.5em 0;
}

#secondary {
	margin-left: 650px;
	padding-top: 230px;
	width: auto;
	position: relative;
}

#secondary:after {
	content: url(images/teaKettle.png);
	position: absolute;
	top: 0;
	left: 0;
}

#secondary aside {
	background: none;
}

#secondary h2 {
	background: none;
	font-family: 'Satisfy',"Helvetica Neue",Helvetica Arial,"Lucida Grande",sans-serif;
}

footer#colophon {
	background: none;
	width: 627px;
	margin: 0 0 0 200px;
	height: auto;
	padding-top: 50px;
	color: #000;
	font-family: 'Source Sans Pro', Garamond,Georgia,serif;
	font-size: .9em;
}

#content .site-navigation {
	font-family: 'Satisfy', Garamond,Georgia,serif;
}

.site-info {
	line-height: normal;
	text-align: center;
}

footer a {
	color: #000;
}

/* =Media Queries
----------------------------------------*/

/* --- Smartphones and small Tablet PCs --- */
@media screen and (max-width:760px) {
	#more {
		display: block;
		float: left;
		padding: 0.3em 0.5em;
	}
	#main {
		padding: 0;
	}
	#nav-menu-wrapper {
		padding-bottom: 20px;
	}
	#page {
		background-position: -50px -100px;
	}
	#masthead:after,
	#page:before,
	#page:after,
	article:nth-of-type(2n+1) .entry-title:after {
		content: '';
		position: static;
	}
	#primary {
		float: none;
		margin: 0 auto;
	}
	.entry-content .oriental-post-thumbnail {
		position: static;
		margin: 10px 0;
	}
	#secondary {
		margin: 0 auto;
		padding-top: 50px;
		width: 627px;
	}
	#s {
		width: 80%;
	}
	#secondary:after {
		content: '';
	}
	footer#colophon {
		margin: 0 auto;
		padding-top: 0;
		width: auto;
	}
}

@media screen and (max-width:650px) {
	#more {
		display: block;
		float: left;
		padding: 0.3em 0.5em;
	}
	#page {
		background-position: -180px -100px;
	}
	#masthead {
		margin: 0 0 0 180px;
		padding-top: 40px;
		font-size: 80%;
	}
	#masthead section {
		margin-left: 0;
		padding: 0;
	}
	#main {
		padding: 0;
	}
	#nav-menu-wrapper {
		padding-bottom: 0;
	}
	#primary,
	#secondary {
		width: auto;
	}
	#content {
		margin-top: 0;
	}
	#content:before,
	#content:after {
		content: '';
		position: static;
	}
	#secondary {
		padding-top: 0;
	}
}

@media screen and (max-width:480px) {
	#more {
		display: block;
		float: left;
		padding: 0.3em 0.5em;
	}
	#page {
		background-image: none;
	}
	#masthead {
		margin: 0 auto;
		padding: 1em 1em 0 1em;
	}
	#main {
		font-size: 85%;
	}
	#nav-menu-wrapper,
	.main-navigation {
		background-image: none;
		margin: 0;
	}
}